/* Section Connexion */
.c-login-section {
  background-color: #f5f0e1;
  /* Beige clair */
  padding: 40px;
  color: #333;
  max-width: 600px;
  margin: 62px auto 0 auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.c-login-section h1 {
  font-size: 2rem;
  color: #4a7c2b;
  /* Vert foncé */
  margin-bottom: 20px;
}

.c-login-section p {
  color: #7d4b1a;
  /* Marron clair */
  margin-bottom: 20px;
  font-size: 1rem;
}

/* Formulaire */
.c-login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.c-login-form label {
  text-align: left;
  font-size: 1rem;
  color: #7d4b1a;
  /* Marron clair */
}

.c-login-form input {
  padding: 10px;
  border: 2px solid #7d4b1a;
  /* Bordure marron */
  border-radius: 5px;
  font-size: 1rem;
}

.c-login-form input:focus {
  border-color: #4a7c2b;
  /* Vert foncé lors de la sélection */
  outline: none;
}

/* Message d'erreur */
.error {
  color: red;
  font-size: 0.875rem;
}

.loginButton {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #7d4b1a;
  transition: background-color 0.3s ease;
  border-radius: 2.5rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #f5f0e1;
  text-decoration: none;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
}

.loginButton:hover {
  background-color: #a8d5ba;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.c-login-form label,
.c-login-form input {
  display: block;
  margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .c-login-section {
    padding: 10px;
  }

  .c-login-section h1 {
    font-size: 1.5rem;
  }
}
