.slider {
  width: 100%;
  margin: 0 auto;
}

.img-div {
  width: 100%;
  height: auto;
}

body {
  background-color: gray;
}

.div1 {
  background-size: cover;
  background: center no-repeat;
}

.div2 {
  background-size: cover;
  background: center no-repeat;
}

.div3 {
  background-size: cover;
  background: center no-repeat;
}
